@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

html {
  scroll-behavior: smooth;
  font-family: "Raleway", sans-serif;
}

/* global styles for tailwind */
@layer base {
  body {
    @apply text-white tracking-wide bg-babyblue;
    position: relative;
    width: 100%;
    min-height: 100vh; /* Ensure at least full viewport height */
  }

  /* ... other styles ... */

  .star, .planet {
    position: absolute;
    will-change: transform; /* Optimize for animations */
  }

  .planet {
    @apply w-16 h-16 rounded-full bg-white; /* Example size and color for planets */
    animation: float 10s infinite ease-in-out;
  }

  .star {
    @apply w-1 h-1 bg-white; /* Example size and color for stars */
    animation: twinkle 3s infinite ease-in-out;
  }

  /* Custom styles for space background and animations */
  @keyframes twinkle {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.5; }
  }
  @keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
  }
}