@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

html {
  scroll-behavior: smooth;
  font-family: "Raleway", sans-serif;
}

/* global styles for tailwind */
@layer base {
  body {
    @apply bg-black text-white tracking-wide;
    position: relative;
    width: 100%;
    min-height: 100vh; /* Ensure at least full viewport height */
  }

  /* ... other styles ... */

  .galaxy {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Ensure it's behind the content */
  }
}