@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

html {
  scroll-behavior: smooth;
  font-family: "Raleway", sans-serif;
}

/* global styles for tailwind */
@layer base {
  body {
    @apply bg-white text-[#1f2937] tracking-wide; /* Updated background color to white */
    position: relative;
    width: 100%;
    min-height: 100vh; /* Ensure at least full viewport height */
  }

  /* ... other styles ... */

  .planet {
    position: absolute;
    animation: float 10s infinite ease-in-out;
  }

  .far-away {
    opacity: 0.6; /* Far away planets are less visible */
    animation-duration: 15s; /* Slower animation for far away planets */
  }

  .ring {
    fill: none;
    stroke: white;
    stroke-width: 2px;
  }
  
  /* Custom styles for space background and animations */
  @keyframes twinkle {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.5; }
  }
  @keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
  }
}
